<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="_header :: common_header(~{::title},~{})">
    <title th:text="Spacemedia + ' - ' + ${agency.name} + ' - Missing media'"></title>
  </head>
  <body>
    <nav th:replace="_header :: navbar"></nav>
    <h2><a th:text="${agency.name}" th:href="@{/{id}(id=${agency.id})}"></a> - Missing media</h2>

    <nav th:replace="_media :: pagination_nav(${medias})"></nav>
    <table class="table table-sm table-hover">
      <thead class="thead-dark">
	      <tr>
	        <th>Media</th>
	        <th>Title</th>
	        <th>Date</th>
	        <th>Description</th>
	        <th>Templates</th>
	        <th>Categories</th>
	      <tr>
      </thead>
      <tbody>
	      <tr th:each="media : ${medias}">
	        <td th:replace="_media :: cell_media"></td>
	        <td th:text="${media.title}"></td>
	        <td th:text="${media.date}"></td>
	        <td th:utext="${media.description}" ></td>
	        <td>
	          <div th:each="template : ${agency.findTemplates(media)}">
	            <a th:text="'{{'+${template}+'}}'" th:href="@{https://commons.wikimedia.org/wiki/Template:{t}(t=${template})}"></a>
	          </div>
	        </td>
	        <td></td>
	      </tr>
      </tbody>
    </table>
    <nav th:replace="_media :: pagination_nav(${medias})"></nav>
    <div th:replace="_header :: scripts"></div>
  </body>
</html>