<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="_header :: common_header(~{::title},~{})">
    <title th:text="Spacemedia + ' - ' + ${agency.name} + ' - Problems'"></title>
  </head>
  <body>
    <nav th:replace="_header :: navbar"></nav>
    <h2><a th:text="${agency.name}" th:href="@{/{id}(id=${agency.id})}"></a> - Problems</h2>
    <nav th:replace="_media :: pagination_nav(${problems})"></nav>
    <table class="table table-sm table-hover">
      <thead class="thead-dark">
	      <tr>
	        <th>URL</th>
	        <th>Problem</th>
	      <tr>
      </thead>
      <tbody>
	      <tr th:each="problem : ${problems}">
	        <td><a th:text="${problem.problematicUrl}" th:href="${problem.problematicUrl}"></a></td>
	        <td th:text="${problem.errorMessage}"></td>
	      </tr>
      </tbody>
    </table>
    <nav th:replace="_media :: pagination_nav(${problems})"></nav>
    <div th:replace="_header :: scripts"></div>
  </body>
</html>