<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="_header :: common_header(~{::title},~{})">
    <title th:text="Spacemedia + ' - ' + ${agency.name}"></title>
  </head>
  <body>
    <nav th:replace="_header :: navbar"></nav>
    <h2 th:text="${agency.name}"></h2>
    <ul th:replace="_media :: tabs(${tab})"></ul>
    <!-- Medias tabs -->
    <div th:if="${medias}">
	    <nav th:replace="_media :: pagination_nav(${medias})"></nav>
	    <table class="table table-sm table-hover">
	      <thead class="thead-dark">
		      <tr>
		        <th>Media</th>
		        <th>Title</th>
		        <th>Date</th>
		        <th>Description</th>
		        <th th:if="'missing' != ${tab}">Commons</th>
		        <th>Templates</th>
		        <th th:if="'uploaded' != ${tab}">Categories</th>
		        <th th:if="'ignored' == ${tab}">Reason</th>
		      <tr>
	      </thead>
	      <tbody>
		      <tr th:each="media : ${medias}">
		        <td>
		          <a th:href="${agency.getSourceUrl(media)}">
		            <img th:src="${agency.getThumbnailUrl(media)}" width="210px" />
		          </a>
		        </td>
		        <td th:text="${media.title}"></td>
		        <td th:text="${media.date}"></td>
		        <td th:utext="${media.description}" ></td>
		        <td th:if="'missing' != ${tab}">
		          <a th:each="file : ${media.commonsFileNames}" th:text="${file}" th:href="'https://commons.wikimedia.org/wiki/File:' + ${file}"></a>
		        </td>
		        <td>
		          <div th:each="template : ${agency.findTemplates(media)}">
		            <a th:text="'{{'+${template}+'}}'"
		               th:href="@{https://commons.wikimedia.org/wiki/Template:{t}(t=${template.split('\|')[0].trim()})}"></a>
		          </div>
		        </td>
		        <td th:if="'uploaded' != ${tab}"><!-- TODO --></td>
		        <td th:if="'ignored' == ${tab}" th:text="${media.ignoredReason}"></td>
		      </tr>
	      </tbody>
	    </table>
	    <nav th:replace="_media :: pagination_nav(${medias})"></nav>
    </div>
    <!-- Problems tab -->
    <div th:if="${problems}">
	    <nav th:replace="_media :: pagination_nav(${problems})"></nav>
	    <table class="table table-sm table-hover">
	      <thead class="thead-dark">
		      <tr>
		        <th>URL</th>
		        <th>Problem</th>
		      <tr>
	      </thead>
	      <tbody>
		      <tr th:each="problem : ${problems}">
		        <td><a th:text="${problem.problematicUrl}" th:href="${problem.problematicUrl}"></a></td>
		        <td th:text="${problem.errorMessage}"></td>
		      </tr>
	      </tbody>
	    </table>
	    <nav th:replace="_media :: pagination_nav(${problems})"></nav>
    </div>
    <!-- Top terms tab -->
    <div th:if="${topterms}">
	    <table class="table table-sm table-hover">
	      <thead class="thead-dark">
		      <tr>
		        <th>Term</th>
		        <th>Occurrences</th>
		      <tr>
	      </thead>
	      <tbody>
		      <tr th:each="topterm : ${topterms}">
		        <td>
		          <a th:text="${topterm.termtext.utf8ToString()}"
		             th:href="@{/{id}/search?q={term}(id=${agency.id},term=${topterm.termtext.utf8ToString()})}">
		          </a>
		        </td>
		        <td th:text="${topterm.docFreq}"></td>
		      </tr>
	      </tbody>
	    </table>
    </div>
    <div th:replace="_header :: scripts"></div>
  </body>
</html>