<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="common_header(title,links)">

    <title th:replace="${title}">Spacemedia</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Common styles and scripts -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">

    <!--/* Per-page placeholder for additional links */-->
    <th:block th:replace="${links}" />
  </head>
  <body>
    <div th:fragment="header">
      TODO HEADER
    </div>
  </body>
</html>