<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="_header :: common_header(~{::title},~{})">
    <title>Spacemedia</title>
  </head>
  <body>
    <nav th:replace="_header :: navbar"></nav>
    <h2>Sources</h2>

    <table id="agencies_table" class="table table-sm table-hover">
      <thead class="thead-dark">
	      <tr>
	        <th>Name</th>
	        <th>Free Media</th>
	        <th>Uploaded</th>
	        <th>Hashes</th>
	        <th>To upload</th>
	        <th>Ignored</th>
	        <th>Problems</th>
	      </tr>
      </thead>
    </table>
    <div th:replace="_header :: scripts"></div>
    <script type="text/javascript" th:inline="javascript">
    function alink(o, path = "") {
    	return "[(@{/})]" + o.id + path;
    }
    function ahref(td, s, link) {
    	$(td).html("<a href='"+link+"'>"+s+"</a>");
    }
    $('#agencies_table').DataTable({
    	"info": false,
    	"paging": false,
    	"searching": false,
        "ajax": {
        	"url": "[(@{/stats?details=false})]",
        	"dataSrc": ""
        },
        "columns": [
            {"data": "agency", "fnCreatedCell": function (td, s, o, i, j) {
            	ahref(td, s, alink(o));
            }},
            {"data": "total_media", "defaultContent": 0, "fnCreatedCell": function (td, s, o, i, j) {
            	ahref(td, s, alink(o, "/all"));
            }},
            {"data": "uploaded_media", "defaultContent": 0, "fnCreatedCell": function (td, s, o, i, j) {
            	ahref(td, s, alink(o, "/uploaded"));
            }},
            {"data": "hashed_media", "defaultContent": 0, "fnCreatedCell": function (td, s, o, i, j) {
            	ahref(td, s, alink(o, "/hashes"));
            }},
            {"data": "missing_media", "defaultContent": 0, "fnCreatedCell": function (td, s, o, i, j) {
            	ahref(td, s, alink(o, "/missing"));
            }},
            {"data": "ignored_media", "defaultContent": 0, "fnCreatedCell": function (td, s, o, i, j) {
            	ahref(td, s, alink(o, "/ignored"));
            }},
            {"data": "problem_count", "defaultContent": 0, "fnCreatedCell": function (td, s, o, i, j) {
            	ahref(td, s, alink(o, "/problems"));
            }}
        ]
    });
	</script>
  </body>
</html>