<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="_header :: common_header(~{::title},~{})">
    <title>Spacemedia</title>
  </head>
  <body>
    <nav th:replace="_header :: navbar"></nav>
    <h2>Sources</h2>

    <table id="agencies_table" class="table table-sm table-hover">
      <thead class="thead-dark">
	      <tr>
	        <th>Name</th>
	        <th>Free Media</th>
	        <th>Uploaded</th>
	        <th>Hashes</th>
	        <th>To upload</th>
	        <th>Ignored</th>
	        <th>Problems</th>
	      </tr>
      </thead>
    </table>
    <div th:replace="_header :: scripts"></div>
    <script>
    $('#agencies_table').DataTable({
    	"info": false,
    	"paging": false,
    	"searching": false,
        "ajax": {
        	"url": "/stats?details=false",
        	"dataSrc": ""
        },
        "columns": [
            {"data": "agency", "fnCreatedCell": function (td, s, o, i, j) {
                $(td).html("<a href='/"+o.id+"'>"+s+"</a>");
            }},
            {"data": "total_media", "defaultContent": 0, "fnCreatedCell": function (td, s, o, i, j) {
                $(td).html("<a href='/"+o.id+"/all'>"+s+"</a>");
            }},
            {"data": "uploaded_media", "defaultContent": 0, "fnCreatedCell": function (td, s, o, i, j) {
                $(td).html("<a href='/"+o.id+"/uploaded'>"+s+"</a>");
            }},
            {"data": "hashed_media", "defaultContent": 0, "fnCreatedCell": function (td, s, o, i, j) {
                $(td).html("<a href='/"+o.id+"/hashes'>"+s+"</a>");
            }},
            {"data": "missing_media", "defaultContent": 0, "fnCreatedCell": function (td, s, o, i, j) {
                $(td).html("<a href='/"+o.id+"/missing'>"+s+"</a>");
            }},
            {"data": "ignored_media", "defaultContent": 0, "fnCreatedCell": function (td, s, o, i, j) {
                $(td).html("<a href='/"+o.id+"/ignored'>"+s+"</a>");
            }},
            {"data": "problem_count", "defaultContent": 0, "fnCreatedCell": function (td, s, o, i, j) {
                    $(td).html("<a href='/"+o.id+"/problems'>"+s+"</a>");
                }}
        ]
    });
	</script>
  </body>
</html>