<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="header :: common_header(~{::title},~{})">
    <title>Spacemedia</title>
  </head>
  <body>
    <h1>Sources</h1>

    <table class="table table-sm table-hover">
      <thead class="thead-dark">
	      <tr>
	        <th>Name</th>
	        <th>Free Media</th>
	        <th>Uploaded</th>
	        <th>To upload</th>
	        <th>Ignored</th>
	        <th>Problems</th>
	      <tr>
      </thead>
      <tbody>
	      <tr th:each="agency : ${agencies}">
	        <td th:text="${agency.name}"></td>
	        <td><a th:text="${agency.countAllMedia()}" th:href="@{/{id}/all(id=${agency.id})}">0</a></td>
	        <td><a th:text="${agency.countUploadedMedia()}" th:href="@{/{id}/uploaded(id=${agency.id})}">0</a></td>
	        <td><a th:text="${agency.countMissingMedia()}" th:href="@{/{id}/missing(id=${agency.id})}">0</a></td>
	        <td><a th:text="${agency.countIgnored()}" th:href="@{/{id}/ignored(id=${agency.id})}">0</a></td>
	        <td><a th:text="${agency.getProblemsCount()}" th:href="@{/{id}/problems(id=${agency.id})}">0</a></td>
	      </tr>
      </tbody>
    </table>
  </body>
</html>