<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
  <head th:replace="_header :: common_header(~{::title},~{})">
    <title th:text="Spacemedia + ' - ' + ${org.name}"></title>
  </head>
  <body>
    <nav aria-label="Site navigation" th:replace="_header :: navbar"></nav>
    <nav aria-label="Org navigation" class="navbar navbar-expand-lg">
		<a class="navbar-brand" th:text="${org.name}"></a>
		<div th:if="${org.multiRepo}" class="collapse navbar-collapse">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a th:class="'nav-link' + (${repo} == null ? ' active' : '')" th:href="@{/{id}(id=${org.id})}" th:text="All"></a>
				</li>
				<li class="nav-item" th:each="repoId : ${org.repoIds}" >
					<a th:class="'nav-link' + (${repoId} == ${repo} ? ' active' : '')" th:href="@{/{id}?repo={repo}(id=${org.id},repo=${repoId})}" th:text="${org.getUiRepoId(repoId)}"></a>
				</li>
			</ul>
		</div>
	</nav>
    <ul th:replace="_media :: tabs(${tab})"></ul>
    <!-- Medias tabs -->
    <div th:if="${medias}">
	    <nav aria-label="Media navigation top" th:replace="_media :: pagination_nav(${medias})"></nav>
	    <table class="table table-sm table-hover">
	      <thead class="thead-dark">
		      <tr>
		        <th>Media</th>
		        <th>Title</th>
		        <th>Date</th>
		        <th>Description</th>
		        <th th:if="'missing' != ${tab} and 'missing/images' != ${tab} and 'missing/videos' != ${tab}">Commons</th>
		        <th th:if="'ignored' == ${tab}">Reason</th>
		      <tr>
	      </thead>
	      <tbody>
		      <tr th:each="media : ${medias}">
		        <td>
		          <a th:href="${org.getSourceUrl(media)}" class="imagelink">
		            <img th:src="${media.PreviewUrl}" width="210px" th:alt="${media.PreviewUrl}" />
		            <img th:if="${media.video}" class="cornerimage" width="80px" src="/Antu_videoclip-amarok.svg" alt="" />
		            <img th:if="${media.audio}" class="cornerimage" width="80px" src="/Antu_audio-volume-high.svg" alt="" />
		          </a>
                  <a th:href="@{/{id}/rest/refreshmedia/{mid}(id=${org.id},mid=${media.id})}" target="_blank">
                    <img width="24" height="24" th:alt="'refresh ' + ${media.id}" th:src="@{/Gtk-refresh.svg}">
                  </a>
                  <a th:href="@{/{id}/rest/uploadmedia/{mid}(id=${org.id},mid=${media.id})}" target="_blank" th:if="${org.uploadEnabled}">
                    <img width="24" height="24" th:alt="'upload ' + ${media.id}" th:src="@{/Wlm-icon-upload-green.svg}">
                  </a>
		          <div th:fragment="assets (assetsToUpload)" th:each="asset : ${assetsToUpload}">
		          	<a th:href="@{/{id}/rest/wiki/{sha1}(id=${org.id},sha1=${asset})}" target="_blank">
		          		<img width="24" height="24" th:alt="'wikihtml ' + ${asset}" th:src="@{/Emblem-search.svg}">
		          	</a>
		          	<a th:href="@{/{id}/rest/wikicode/{sha1}(id=${org.id},sha1=${asset})}" target="_blank">
		          		<img width="24" height="24" th:alt="'wikicode ' + ${asset}" th:src="@{/Curly_brackets_icon.svg}">
		          	</a>
		          	<a th:href="@{/{id}/rest/upload/{sha1}(id=${org.id},sha1=${asset})}" target="_blank" th:if="${org.uploadEnabled}">
		          		<img width="24" height="24" th:alt="'upload ' + ${asset}" th:src="@{/Wlm-icon-upload-red.svg}">
		          	</a>
		          </div>
		          <div th:if="'missing' == ${tab}">
                    <div th:replace="org_index :: assets(assetsToUpload=${media.assetsToUpload})" />
		          </div>
		          <div th:if="'missing/images' == ${tab}">
                    <div th:replace="org_index :: assets(assetsToUpload=${media.imageAssetsToUpload})" />
		          </div>
		          <div th:if="'missing/videos' == ${tab}">
                    <div th:replace="org_index :: assets(assetsToUpload=${media.videoAssetsToUpload})" />
		          </div>
		          <div th:if="'missing/audios' == ${tab}">
                    <div th:replace="org_index :: assets(assetsToUpload=${media.audioAssetsToUpload})" />
		          </div>
		        </td>
		        <td>
		          <a th:text="${media.title}"></a>
                  <a th:href="@{/{id}/rest/uploadbytitle/{title}(id=${org.id},repo=${repo},title=${media.title})}" target="_blank" th:if="${org.uploadEnabled} and 'missing' == ${tab}">
                    <img width="24" height="24" th:alt="'upload ' + ${media.title}" th:src="@{/Wlm-icon-upload-green.svg}">
                  </a>
                  <a th:href="@{/{id}/rest/uploadimagesbytitle/{title}(id=${org.id},repo=${repo},title=${media.title})}" target="_blank" th:if="${org.uploadEnabled} and 'missing/images' == ${tab}">
                    <img width="24" height="24" th:alt="'upload ' + ${media.title}" th:src="@{/Wlm-icon-upload-green.svg}">
                  </a>
                  <a th:href="@{/{id}/rest/uploadvideosbytitle/{title}(id=${org.id},repo=${repo},title=${media.title})}" target="_blank" th:if="${org.uploadEnabled} and 'missing/videos' == ${tab}">
                    <img width="24" height="24" th:alt="'upload ' + ${media.title}" th:src="@{/Wlm-icon-upload-green.svg}">
                  </a>
		        </td>
		        <td>
		          <a th:text="${media.publicationDate}"></a>
                  <a th:href="@{/{id}/rest/uploadbydate/{date}(id=${org.id},repo=${repo},date=${media.publicationDate})}" target="_blank" th:if="${org.uploadEnabled} and 'missing' == ${tab}">
                    <img width="24" height="24" th:alt="'upload ' + ${media.publicationDate}" th:src="@{/Wlm-icon-upload-green.svg}">
                  </a>
                  <a th:href="@{/{id}/rest/uploadimagesbydate/{date}(id=${org.id},repo=${repo},date=${media.publicationDate})}" target="_blank" th:if="${org.uploadEnabled} and 'missing/images' == ${tab}">
                    <img width="24" height="24" th:alt="'upload ' + ${media.publicationDate}" th:src="@{/Wlm-icon-upload-green.svg}">
                  </a>
                  <a th:href="@{/{id}/rest/uploadvideosbydate/{date}(id=${org.id},repo=${repo},date=${media.publicationDate})}" target="_blank" th:if="${org.uploadEnabled} and 'missing/videos' == ${tab}">
                    <img width="24" height="24" th:alt="'upload ' + ${media.publicationDate}" th:src="@{/Wlm-icon-upload-green.svg}">
                  </a>
		        </td>
		        <td th:utext="${#strings.abbreviate(media.description,2000)}"></td>
		        <td th:if="'missing' != ${tab} and 'missing/images' != ${tab} and 'missing/videos' != ${tab}">
		          <div th:each="file : ${media.allCommonsFileNames}">
		            <a th:text="${file}" th:href="'https://commons.wikimedia.org/wiki/File:' + ${file}"></a><br>
		          </div>
		        </td>
		        <td th:if="'ignored' == ${tab}" th:text="${media.ignoredReason}">
		        </td>
		      </tr>
	      </tbody>
	    </table>
	    <nav aria-label="Media navigation bottom" th:replace="_media :: pagination_nav(${medias})"></nav>
    </div>
    <!-- Problems tab -->
    <div th:if="${problems}">
	    <nav aria-label="Problem navigation top" th:replace="_media :: pagination_nav(${problems})"></nav>
	    <table class="table table-sm table-hover">
	      <thead class="thead-dark">
		      <tr>
		        <th>URL</th>
		        <th>Problem</th>
		      <tr>
	      </thead>
	      <tbody>
		      <tr th:each="problem : ${problems}">
		        <td><a th:text="${problem.problematicUrl}" th:href="${problem.problematicUrl}"></a></td>
		        <td th:text="${problem.errorMessage}"></td>
		      </tr>
	      </tbody>
	    </table>
	    <nav aria-label="Problem navigation bottom" th:replace="_media :: pagination_nav(${problems})"></nav>
    </div>
    <!-- Top terms tab -->
    <div th:if="${topterms}">
	    <table class="table table-sm table-hover">
	      <thead class="thead-dark">
		      <tr>
		        <th>Term</th>
		        <th>Occurrences</th>
		      <tr>
	      </thead>
	      <tbody>
		      <tr th:each="topterm : ${topterms}">
		        <td>
		          <a th:text="${topterm.termtext.utf8ToString()}"
		             th:href="@{/{id}/search?q={term}(id=${org.id},term=${topterm.termtext.utf8ToString()})}">
		          </a>
		        </td>
		        <td th:text="${topterm.docFreq}"></td>
		      </tr>
	      </tbody>
	    </table>
    </div>
    <div th:replace="_header :: scripts"></div>
  </body>
</html>